* {
    font-family: "Times New Roman" !important;
}
.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}